{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-1">
        <!-- скрытый отступ - поля -->
    </div>
    <div class="col">
        <table class="table table-striped table-sm">
            <thead>
                <tr class="table-active">
                    <th scope="col">Адрес объекта</th>
                    <th scope="col">Район / Юрисдикция</th>
                    <th scope="col">Подключения / Тех. возм.</th>
                </tr>
            <thead>
            <tbody>
                {% for addr in addresses %}
                <tr title="{{ addr[-1] }}">
                    <td>{% if addr[2].startswith('г.') %}
                            <!-- Если в поле населенного пункта город, тогда не выводим район -->
                            {{ addr[0:1] |join(', ') }}, {{ addr[2:-2] |join(', ') }}
                        {% else %}
                            {{ addr[:5] |join(', ') }}
                        {% endif %}
                    </td>
                    <td>{{ addr[5] }}</td>
                    <td class="position-relative">
                            {% for item in tech_pos[addr[-1]] %}
                                <span class="badge text-bg-secondary">{{ item[0] }}</span>-
                                <span class="badge rounded-pill text-bg-light">{{ item[1] }}</span>
                            {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1">
        <!-- скрытый отступ - поля -->
    </div>
</div>
{% endblock %}
